.nav-container{
    width: 85%;
    position: fixed; 
    top: 0; 
    z-index: 1000; 
}

.site-header {
    display: flex;
	align-items: center;
	background-color: #ffffff;
	justify-content: space-between;
	padding: 0px 10px;
    border-bottom: 1px solid #D6D6D6;
}

.site-header__left {
    flex: 1;
    text-align: left;
}

.site-header__right {
    display: flex;
}

.site-header__title {
    margin: 0;
    color: #254B5F; 
}

.site-header__button {
    margin-left: 5px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color:#2FA8F9;
    cursor: pointer;
}