.nav-container{
    width: 95%;
    top: 0; 
    z-index: 1000; 
}

.site-header {
    display: flex;
	align-items: center;
	background-color: #ffffff;
	justify-content: space-between;
	padding: 10px 10px;
    border-bottom: 1px solid #D6D6D6;
}

.site-header__left {
    flex: 1;
    text-align: left;
}

.site-header__right {
    display: flex;
}

.site-header__title {
    margin: 0;
    color: #254B5F; 
    font-family: Verdana;
}

/*for some reason forcing the li elements to type a makes them look correct*/
.explore a, .signin a, .home a, .logout a{
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000000;
    background-color: #ffffff;
}

.signup a{
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
}
