.nav-container{
    width: 95%;
    top: 0; 
    z-index: 1000; 
}

.site-header {
    display: flex;
	align-items: center;
	background-color: #ffffff;
	justify-content: space-between;
	padding: 10px 10px;
    border-bottom: 1px solid #D6D6D6;
}

.site-header__left {
    flex: 1;
    text-align: left;
}

.site-header__right {
    display: flex;
    align-items: center;
}

.site-header__title {
    margin: 0;
    color: #254B5F; 
    font-family: Verdana;
}

/*for some reason forcing the li elements to type a makes them look correct*/
.explore a, .signin a, .home a, .logout a{
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000000;
    background-color: #ffffff;
}

.logout a{
    margin-right: 30px;
}

.signup a{
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #ffffff;
    background-color: #000000;
}

.full-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-profile-icon {
    font-size: 35px;
    margin-top: 70x;
    color: #000000; 
    cursor: pointer;
    position: relative;
}

.dropdown-container{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.dropdown-content {
    background-color: #ffffff;
    min-width: 150px;
    border: 2px solid #000000;
    border-radius: 5px;
    z-index: 1000;
    margin-left: 30px;
    font-size: 17px; 
}

.arrow{
    color: #000000;
    margin-left: -10px; /* Adjust as needed */
}

.dropdown-content p {
    color: #000000;
    padding: 0px;
    margin: 0px;
}

